@using DigiStore.Domain.Entities
@model DigiStore.Domain.ViewModels.Product.EditProductViewModel
@{
    ViewData["Title"] = "ویرایش محصول" + "\t" + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewBag.MainCategory as List<ProductCategory>;
    var brands = ViewBag.Brand as List<Brand>;
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="/css/Custom.css" />
}

@await Component.InvokeAsync("SellerSidebar")


<div class="col-lg-9 col-md-8 col-xs-12 pull-right">
    <div class="col-lg-12 col-xs-12 pull-right">
        <div class="profile-navbar">
            <div class="profile-navbar-back-alignment">
                <a asp-action="Index" asp-controller="Home" asp-area="Seller" class="profile-navbar-btn-back">بازگشت</a>
                <h4 class="edit-personal">
                    افزودن محصول جدید

                </h4>
            </div>
        </div>
        <div class="profile-stats">
            <form method="post" asp-action="EditProduct" asp-controller="Product" asp-area="Seller" id="create_product_form" enctype="multipart/form-data">
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" asp-for="ProductImage" />
                @if (Model.ProductColors != null && Model.ProductColors.Any())
                {
                    var index = 0;
                    foreach (var color in Model.ProductColors)
                    {
                        <input type="hidden" value="@color.ColorCode" name="ProductColors[@index].ColorCode" color-name-hidden-input="@color.ColorCode-@color.Price" />
                        <input type="hidden" value="@color.Price" name="ProductColors[@index].Price" color-Price-hidden-input="@color.ColorCode-@color.Price" />
                        index += 1;
                    }
                }

            @if (Model.ProductFeature != null && Model.ProductFeature.Any())
            {
                var index = 0;
                foreach (var feature in Model.ProductFeature)
                {
                    <input type="hidden" value="@feature.FeatureTitle" name="ProductFeature[@index].FeatureTitle" feature-Name-hidden-input="@feature.FeatureTitle-@feature.FeatureValue" />
                    <input type="hidden" value="@feature.FeatureValue" name="ProductFeature[@index].FeatureValue" feature-value-hidden-input="@feature.FeatureTitle-@feature.FeatureValue" />
                    index += 1;
                }
            }
                <div class="form-legal-row">
                    <div class="col-lg-6 col-xs-12 mx-auto">
                        <div class="form-legal-col">
                            <fieldset class="form-legal-fieldset">
                                <h4 class="form-legal-headline">افزودن محصول جدید</h4>
                                <div class="form-legal-item">
                                    <label>نام محصول</label>
                                    <input type="text" asp-for="Title" class="input-name-first" placeholder="نام محصول را وارد نمایید">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                                <div class="form-legal-item">
                                    <label>قیمت</label>
                                    <input type="number" asp-for="Price" placeholder="قیمت محصول را وارد نمایید">
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            <div class="form-legal-item">
                                <label>درصد برداشت</label>
                                <input type="number" asp-for="SiteProfile" placeholder="درصد برداشت محصول را وارد نمایید">
                                <span asp-validation-for="SiteProfile" class="text-danger"></span>
                            </div>
                                <div class="form-legal-item">
                                    <label>توضیحات کوتاه</label>
                                    <textarea asp-for="ShortDescription" class="form-control" cols="75" rows="10" placeholder="توضیحات کوتاه محصول"></textarea>
                                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                </div>

                                <div class="form-legal-item">
                                    <label>توضیحات کوتاه</label>
                                    <textarea asp-for="Description" ckeditor="1" placeholder="توضیحات کامل محصول"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-legal-item has-diviter-item">
                                    <div class="form-auth-row">
                                        <label class="ui-checkbox has-diviter">
                                            <input type="checkbox" asp-for="IsActive">
                                            <span class="ui-checkbox-check"></span>
                                        </label>
                                        <label for="remember1" class="remember-me has-diviter-remember-me">
                                            فعال / غیر فعال
                                            وضعیت
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="ProductImage" id="imgInp" accept=".png,.jpeg" />
                                            <label class="custom-file-label text-left" for="customFile">بار گذاری تصویر محصول</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <img src="/Images/Product/origin/@Model.ProductImage" id="ProductImage" style="height: 300px; width: 300px" class="img-thumbnail img-fluid rounded float-left" alt="...">
                                    </div>
                                </div>
                                <label><h4> دسته </h4></label>
                                @if (categories != null && categories.Any())
                                {
                                    @foreach (var category in categories.Where(s => s.ParentId == null))
                                    {
                                        var isParentCategorySelected = Model.SelectedCategories.Any(c => c == category.ProductCategoryId);
                                        <ul>
                                            <li>
                                                <label class="container">
                                                    <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@category.ProductCategoryId" Main_Category_Chekbox="@category.ProductCategoryId" @(isParentCategorySelected ? "checked" : "") /> @category.Title
                                                    <span class="checkmark"></span>

                                                    @if (categories.Any(s => s.ParentId == category.ProductCategoryId))
                                                    {
                                                        <br />
                                                        <div id="sub_categories_@category.ProductCategoryId" style="display: @(isParentCategorySelected?"block":"none");">

                                                            @foreach (var subCategory in categories.Where(s => s.ParentId == category.ProductCategoryId))
                                                            {
                                                                var isSubCategorySelected = Model.SelectedCategories.Any(c => c == subCategory.ProductCategoryId);

                                                                <label class="container" style="right: 10%">
                                                                    <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@subCategory.ProductCategoryId" Main_Category_Chekbox="@subCategory.ProductCategoryId" parent-category-id="@subCategory.ParentId" @(isSubCategorySelected ? "checked" : "") /> @subCategory.Title
                                                                    <span class="checkmark"></span>
                                                                    @if (categories.Any(s => s.ParentId == subCategory.ProductCategoryId))
                                                                    {
                                                                        <br />
                                                                        <div id="sub_categories_@subCategory.ProductCategoryId" style="@(isSubCategorySelected?"block":"none")">
                                                                            @foreach (var subSubCategory in categories.Where(s => s.ParentId == subCategory.ProductCategoryId))
                                                                            {
                                                                                var isSubSubCategorySelected = Model.SelectedCategories.Any(c => c == subSubCategory.ProductCategoryId);

                                                                                <label class="container" style="right: 10%">
                                                                                    <input type="checkbox" name="@nameof(Model.SelectedCategories)" value="@subSubCategory.ProductCategoryId" parent-category-id="@subCategory.ParentId" @(isSubSubCategorySelected ? "checked" : "") /> @subSubCategory.Title
                                                                                    <span class="checkmark"></span>
                                                                                </label>
                                                                            }
                                                                        </div>
                                                                    }
                                                                </label>

                                                            }
                                                        </div>
                                                    }

                                                </label>
                                            </li>
                                        </ul>
                                        <hr />
                                    }
                                }
                                <select asp-for="BradnId" class="form-control">
                                    <option selected>نام برند محصول را انتخاب نمایید</option>
                                    @foreach (var Brand in brands)
                                    {
                                        <option value="@Brand.BrandId">@Brand.BrandName</option>
                                    }
                                </select>
                                <br />
                                <label><h4> رنگ </h4></label>
                                <div class="form-group">
                                    <label>مقدار رنگ</label>
                                    <input type="color" placeholder="نام  رنگ محصول را وارد نمایید" class="form-control"  id="Product_color_Name_input" />
                                </div>
                                <div class="form-legal-item">
                                    <label>قیمت مضاف رنگ محصول</label>
                                    <input type="number" placeholder="قیمت مضاف رنگ محصول را وارد نمایید" id="Product_color_Price_input" />
                                </div>
                                <div class="parent-btn">
                                    <button id="addColorButton" type="button" class="btn btn-success">
                                        افزودن رنگ
                                    </button>
                                </div>
                                <div class="profile-stats page-profile-order">
                                    <div class="table-orders">

                                        <table class="table">
                                            <thead class="thead-dark">
                                                <tr>

                                                    <th style="text-align: center">نام رنک</th>
                                                    <th style="text-align: center">قیمت</th>
                                                    <th style="text-align: center">عملیات</th>
                                                </tr>
                                            </thead>
                                            <tbody id="list_of_product_colors">
                                                @if (Model.ProductColors != null && Model.ProductColors.Any())
                                                {
                                                    @foreach (var item in Model.ProductColors)
                                                    {
                                                        <tr color-table-item="@item.ColorCode-@item.Price">
                                                            <td style="background-color:@item.ColorCode">@item.ColorCode</td>
                                                            <td>
                                                                @item.Price
                                                            </td>
                                                            <td><a class="btn btn-danger" onclick="RemoveProductColor('@item.ColorCode-@item.Price')">حذف</a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                                <br /><br />
                                <label><h4>  ویژگی های محصول </h4></label>
                                <div class="form-legal-item">
                                    <label>نام ویژگی</label>
                                    <input type="text" placeholder="نام ویژگی  محصول را وارد نمایید" id="Product_feature_Name_input" />
                                </div>
                                <div class="form-legal-item">
                                    <label>مقدار ویژگی</label>
                                    <input type="text" placeholder="مقدار ویژگی محصول را وارد نمایید" id="Product_feature_value_input" />
                                </div>
                                <div class="parent-btn">
                                    <button id="addfeatureButton" type="button" class="btn btn-success">
                                        افزودن ویژگی
                                    </button>
                                </div>
                                <div class="profile-stats page-profile-order">
                                    <div class="table-orders">

                                        <table class="table">
                                            <thead class="thead-dark">
                                                <tr>

                                                    <th style="text-align: center">نام ويژگی</th>
                                                    <th style="text-align: center">مقدار</th>
                                                    <th style="text-align: center">عملیات</th>
                                                </tr>
                                            </thead>
                                            <tbody id="list_of_product_features">
                                            @if (Model.ProductFeature != null && Model.ProductFeature.Any())
                                            {
                                                @foreach (var feature in Model.ProductFeature)
                                                 {
                                                     <tr featureName-table-item="@feature.FeatureTitle-@feature.FeatureValue">
                                                         <td>@feature.FeatureTitle</td>
                                                         <td>
                                                             @feature.FeatureValue
                                                         </td>
                                                         <td><a class="btn btn-danger" onclick="RemoveProductfeatures('@feature.FeatureTitle-@feature.FeatureValue')">حذف</a></td>
                                                     </tr>
                                                 }
                                            }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="form-legal-row-submit">
                    <div class="parent-btn">
                        <button type="submit" class="dk-btn dk-btn-info">
                            ویرایش محصول
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                    </div>
                    <a asp-action="Index" asp-controller="Product" asp-area="Seller" class="btn-default">انصراف</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>

        imgInp.onchange = evt => {
            const [file] = imgInp.files;
            if (file) {
                ProductImage.src = URL.createObjectURL(file);
            }
        }
    </script>
}

