@using DigiStore.Application.Extensions
@using DigiStore.Domain.Enums.Product
@using DigiStore.Domain.ViewModels.Product
@model DigiStore.Domain.ViewModels.Product.FilterProductViewModel
@{
    ViewData["Title"] = "لیست محصولات";
    Layout = "_Layout";
}
@section Styles
{
    <style>
        fieldset {
            overflow: hidden
        }

        .some-class {
            float: left;
            clear: none;
        }

        label {
            float: right;
            clear: none;
            display: block;
            padding: 0px 1em 0px 8px;
        }

        input[type=radio],
        input.radio {
            float: left;
            clear: none;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    </style>
}

@await Component.InvokeAsync("SellerSidebar")

<div class="col-lg-9 col-md-8 col-xs-12 pull-left">
    <div class="headline-profile page-profile-order">
        <span>لیست محصولات ها</span>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form style="padding: 20px;" asp-controller="Product" asp-action="Index" id="filter-form" asp-area="Seller" method="get">
                <input type="hidden" asp-for="PageId" />
                <div class="form-group">
                    <label>نام محصول</label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="نام محصول را وارد نمایید" />
                    <br />
                    @foreach (var item in Html.GetEnumSelectList<FilterProductState>())
                    {

                        <div class="form-check">
                            <label class="form-check-label">
                                @if (Convert.ToByte(item.Value) == Convert.ToByte(Model.FilterProductState))
                                {
                                    <br />

                                    <input type="radio" class="radio" value="@item.Value" name="@nameof(Model.FilterProductState)" checked="checked" />

                                }
                                else
                                {
                                    <br />

                                    <input type="radio" class="radio" value="@item.Value" name="@nameof(Model.FilterProductState)" />

                                }

                                <span class="text">@item.Text</span>
                            </label>
                        </div>

                    }

                    <div class="form-control">
                        <button type="submit" class="btn btn-block btn-xs btn-purple waves-effect waves-light">فیلتر</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="profile-stats page-profile-order">
        <div class="table-orders">
            @if (Model.Products != null && Model.Products.Any())
            {
                <table class="table">
                    <thead class="thead-dark">
                        <tr>

                            <th>تصویر</th>
                            <th>نام محصول</th>
                            <th>وضعیت</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>

                                <td><img src="@(!string.IsNullOrEmpty(item.ImageName)?PathExtension.ProductImageThumb+item.ImageName:PathExtension.DefaultStoreLogo)" class="img-fluid img-thumbnail" alt="در حال بارگذاری" /></td>
                                <td>@item.Name</td>
                                @if (item.ProductAcceptanceState != null)
                                {

                                    ProductAcceptanceState acceptanceState = (ProductAcceptanceState)item.ProductAcceptanceState.Value;
                                    <td>
                                        @acceptanceState.GetDisplayName()
                                    @if(item.ProductAcceptanceState==(byte)ProductAcceptanceState.Rejected)
                                    {
                                    <hr />
                                    <div class="text-danger">
                                        @Html.Raw(item.ProductAcceptOrRejectDescription)
                                    </div>
                                    }
                                </td>
                            }
                            <td>
                                <a asp-controller="Product" asp-action="EditProduct" asp-area="Seller" asp-route-id="@item.ProductId" class="btn btn-sm btn-warning">ویرایش محصول</a>
                                <a asp-controller="Product" asp-action="GetProductGalleries" asp-area="Seller" asp-route-id="@item.ProductId" class="btn btn-sm btn-info">گالری تصاویر محصول</a>
                            </td>
                            </tr>

                        }
                    </tbody>

                </table>
                <div class="pager">
                    <ul class="page-item">
                        @if (Model.StartPage < Model.PageId)
                        {
                            <li class="btn"><a href="/Seller/Products-list?pageid=@(Model.PageId - 1)">«</a></li>
                        }

                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                        {
                            <li class="pagination-item"  onclick="FillPageId(@i)"><a href="/Seller/Products-list?pageid=@i" onclick="FillPageId(@i)" style="cursor: pointer" class="@(Model.PageId == i ? "pager-item-active" : " ")" >@i</a></li>
                        }
                        @if (Model.EndPage > Model.PageId)
                        {
                            <li class="btn" ><a class="btn"  href="/Seller/Products-list?pageid=@(Model.PageId + 1)">»</a></li>
                        }
                    </ul>
                </div>

            }
            else
            {
                <partial name="_NotFoundItem" />
            }
        </div>
    </div>
</div>




