@using DigiStore.Application.Extensions
@using DigiStore.Domain.Entities
@using DigiStore.Domain.ViewModels.Product
@model DigiStore.Domain.ViewModels.Product.FilterProductViewModel
@{
    ViewData["Title"] = "جستجوی محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var procutCategories = ViewBag.ProductCategories as List<ProductCategory>;
    var brandProducts = ViewBag.ProductBrands as List<Brand>;

}

<form asp-controller="Product" asp-action="ProductSearch" asp-area="" method="get" id="filter-form">
    <input type="hidden" asp-for="PageId" />

    <div class="col-12">
        <div class="header-filters">
            <div class="remodal-search-advanced" id="modal-search" style="display: none;">
                <nav class="remodal-page-layout">


                    <div class="remodal-page-main">
                        <div class="remodal-page-content">
                            <div class="filter">
                                <div class="toggle-box">
                                    <div class="toggle-box-active">
                                        <ul>
                                            <li class="has-sub">
                                                <a href="#">دسته‌بندی نتایج</a>
                                                @if (procutCategories != null && procutCategories.Any())
                                                {


                                                    <ul class="catalog-list">
                                                        @foreach (var mainCategory in procutCategories.Where(p => p.ParentId == null))
                                                        {
                                                            <li>
                                                                <a href="#" class="catalog-link"><i class="fa fa-angle-left"></i>@mainCategory.Title</a>
                                                                @if (procutCategories.Any(p => p.ParentId == mainCategory.ProductCategoryId))
                                                                {
                                                                    @foreach (var submainCategory in procutCategories.Where(p => p.ParentId == mainCategory.ProductCategoryId))
                                                                    {
                                                                        <div class="show-more">
                                                                            <span class="catalog-cat-item"><i class="fa fa-angle-down"></i>@submainCategory.Title</span>

                                                                            @if (procutCategories.Any(p => p.ParentId == submainCategory.ProductCategoryId))
                                                                            {
                                                                                <ul class="catalog-list">
                                                                                    @foreach (var subSubmainCategory in procutCategories.Where(p => p.ParentId == submainCategory.ProductCategoryId))
                                                                                    {
                                                                                        <li>
                                                                                            <a href="ProductSearch?CategoryId=@subSubmainCategory.ProductCategoryId" class="catalog-link">
                                                                                                @subSubmainCategory.Title
                                                                                            </a>
                                                                                        </li>

                                                                                    }
                                                                                </ul>
                                                                            }
                                                                        </div>
                                                                    }
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            @if (brandProducts != null && brandProducts.Any())
                            {
                                <div class="filter">
                                    <div class="toggle-box">
                                        <div class="toggle-box-active">
                                            <ul>
                                                <li class="has-sub">
                                                    <p>برند</p>
                                                    <ul>
                                                        @foreach (var brands in brandProducts)
                                                        {
                                                            <li>
                                                                <a href="#" class="filter-label">
                                                                    <div class="form-auth-row">
                                                                        <label for="remember" class="ui-checkbox">
                                                                            <input type="radio" onchange="changeFilter()" value="@brands.BrandId" name="login" id="remember">
                                                                            <span class="ui-checkbox-check"></span>
                                                                        </label>
                                                                        <label for="remember" class="remember-me">@brands.BrandName</label>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        }

                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 float-right sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

        <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
            <div class="sidebar-wrapper search-sidebar">
                <div class="box-sidebar">
                    <button class="btn btn-light btn-box-sidebar" type="button">دسته‌بندی ها</button>
                    <div class="catalog">
                        @if (procutCategories != null && procutCategories.Any())
                        {
                            <span><a asp-controller="Product" asp-action="ProductSearch" asp-route-Category="" asp-area="" class="btn btn-block btn-light">نمایش همه</a></span>
                            <ul class="catalog-list ">
                                @foreach (var mainCategory in procutCategories.Where(p => p.ParentId == null))
                                {
                                    <li>
                                        <span><a href="#" class="catalog-link" category_dropdown_button="@mainCategory.ProductCategoryId"><i class="fa fa-angle-left"></i>@mainCategory.Title</a></span>
                                        @if (procutCategories.Any(p => p.ParentId == mainCategory.ProductCategoryId))
                                        {
                                            @foreach (var submainCategory in procutCategories.Where(p => p.ParentId == mainCategory.ProductCategoryId))
                                            {
                                                <ul class="catalog-list" category_dropdown_list="@submainCategory.ParentId">
                                                    <div class="show-more">
                                                        <li>
                                                            <a  class="filter-label">
                                                                <div class="form-auth-row">
                                                                    <label  class="ui-checkbox">
                                                                        <input type="checkbox" name="CategoryId"  value="@submainCategory.ProductCategoryId">
                                                                        <span class="ui-checkbox-check"></span>
                                                                    </label>
                                                                    <label  class="remember-me">@submainCategory.Title</label>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        @if (procutCategories.Any(p => p.ParentId == submainCategory.ProductCategoryId))
                                                        {
                                                            <ul class="catalog-list m-4">
                                                                @foreach (var subSubmainCategory in procutCategories.Where(p => p.ParentId == submainCategory.ProductCategoryId))
                                                                {

                                                                    <li>
                                                                        <a  class="filter-label">
                                                                            <div class="form-auth-row">
                                                                                <label  class="ui-checkbox">
                                                                                    <input type="checkbox"  name="CategoryId"  value="@subSubmainCategory.ProductCategoryId">
                                                                                    <span class="ui-checkbox-check"></span>
                                                                                </label>
                                                                                <label  class="remember-me">@subSubmainCategory.Title</label>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }

                                                    </div>
                                                </ul>
                                            }

                                        }

                                    </li>
                                }

                            </ul>
                        }
                        <button type="submit" class="btn-search-sidebar btn btn-block m-1 btn-danger">جستجو</button>
                    </div>
                </div>

                <div class="box-sidebar">
                    <button class="btn btn-light btn-box-sidebar" type="button">
                        جستجو محصول:
                    </button>

                    <input type="text" class="input-sidebar" asp-for="Name" placeholder="نام محصول  مورد نظر را بنویسید…">

                    <button type="submit" class="btn-search-sidebar btn btn-block m-1 btn-danger">جستجو</button>

                </div>
                <div class="box-sidebar">
                    <button class="btn btn-light btn-box-sidebar" type="button" data-toggle="collapse" data-target="#collapseExampleSeller2" aria-expanded="false" aria-controls="collapseExampleSeller">
                        <i class="fa fa-chevron-down arrow"></i>مرتب سازی بر اساس ...
                    </button>
                    <div class="collapse show" id="collapseExampleSeller2">
                        <div class="catalog">
                           

                            <select class="form-group" style="width: 100%;" id="orderItem"  name="FilterProductOrderBy" aria-label=".form-select-sm example" asp-for="FilterProductOrderBy">
                                @foreach (var item in Html.GetEnumSelectList<FilterProductOrderBy>())
                                {
                                    <option class="form-control" value="@item.Value">@item.Text</option>
                                }
                            </select>
                            <button type="submit" class="btn-search-sidebar btn btn-block m-1 btn-danger">مرتب سازی</button>
                            
                        </div>
                    </div>
                   
                </div>
                <div class="box-sidebar">
                    <button class="btn btn-light btn-box-sidebar" type="button" data-toggle="collapse" data-target="#collapseExampleSeller" aria-expanded="false" aria-controls="collapseExampleSeller">
                        <i class="fa fa-chevron-down arrow"></i>برند
                    </button>
                    <div class="collapse show" id="collapseExampleSeller">
                        <div class="catalog">

                            @if (brandProducts != null && brandProducts.Any())
                            {
                                <ul>
                                    @foreach (var brands in brandProducts)
                                    {
                                        <li>
                                            <a  class="filter-label">
                                                <div class="form-auth-row">
                                                    <label  class="ui-checkbox">
                                                        <input type="checkbox"  name="Selectedbrands"  value="@brands.BrandId">
                                                        <span class="ui-checkbox-check"></span>
                                                    </label>
                                                    <label  class="remember-me">@brands.BrandName</label>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                        <button type="submit" class="btn-search-sidebar btn btn-block m-1 btn-danger">جستجو</button>

                </div>
             

            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-8 col-xs-12 pull-left">
        <div class="js-products">
            <div class="listing-counter"> @($"{Model.GetCurrentPagingStatus()} \t تعداد کالا\t{Model.AllEntitiesCount}")</div>

            <div class="listing-listing col">


                <!-- <ul class="listing-item"> -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="mostvisited" role="tabpanel" aria-labelledby="mostvisited-tab">
                        @if (Model.Products != null && Model.Products.Any())
                        {
                            <ul class="listing-item">
                                <li>
                                    @foreach (var product in Model.Products)
                                    {

                                        <div class="col-lg-3 col-md-3 col-xs-12 pull-right px-0">
                                            <div class="promotion-box">
                                                <div class="product-seller-details">
                                                    <span class="product-main-seller">فروشنده : @product.Seller.StoreName</span>
                                                </div>

                                                <a asp-action="ProductDetail" asp-controller="Product" asp-route-productId="@product.ProductId" asp-route-title="@product.Name.FixTextForUrl()" class="promotion-box-image">
                                                    <img src="@(PathExtension.ProductImageOrigin + product.ImageName)" alt="product">
                                                </a>

                                                <div class="product-box-content">
                                                    <a href="#" class="product-box-title">
                                                        <span>@product.Name</span>
                                                    </a>
                                                </div>

                                                <div class="product-box-rate">
                                                    <span>@product.Productcomments.Count نفر</span>
                                                    <div class="product-star mb-3">
                                                        @await Component.InvokeAsync("ProductScrore", product.ProductId)
                                                    </div>
                                                </div>

                                                <div class="product-box-row">
                                                    <span class="price-value-wrapper">@(product.Price.ToString("n0"))</span>
                                                    <span class="price-currency">تومان </span>
                                                </div>
                                            </div>
                                        </div>


                                    }
                                </li>
                            </ul>
                        }
                        else
                        {
                            <partial name="_NotFoundItem" />
                        }
                    </div>
                </div>
                <!-- </ul> -->
                <partial name="_SitePaging" model="@Model.GetCurrentPaging()" />
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>

        var flag = true;
        if (flag == false) {
            $('[category_dropdown_button]').on('click',
                function () {
                    var categoryId = ($(this).attr('category_dropdown_button'));
                    console.log(categoryId);
                    $('[category_dropdown_list="' + categoryId + '"]').hide();
                });

        }

        if (flag) {
            $('[category_dropdown_button]').on('click', function () {
                var categoryId = ($(this).attr('category_dropdown_button'));
                $('[category_dropdown_list="' + categoryId + '"]').toggle('slow');
            });
        }
        function changeFilter() {
            $("#filter-form").submit();
        }

    </script>
    <script src="/assets/js/theia-sticky-sidebar.min.js"></script>
}
