@using DigiStore.Domain.Entities

@{
    var categories = ViewBag.ProductCategories as List<ProductCategory>;
}
<header class="header-main-page">
    <div class="d-block">
        <div>
            <div class="col-lg-8 col-md-8 col-xs-12 pull-right">
                <div class="header-right">
                    <div class="logo">
                        <a href="/"><img src="/assets/images/logo.png" alt="logo"></a>
                    </div>

                    <div class="col-lg-8 col-md-12 col-xs-12 pull-right">
                        <div class="search-header search-box">
                            <form method="get" id="filter-form" asp-controller="Product" asp-action="ProductSearch">
                                <input type="text" name="Name" class="header-search-input" placeholder="جستجو در دیجی استور...">
                                <button class="btn-search" type="submit">
                                    <img src="/assets/images/search.png"
                                         alt="search">
                                </button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 pull-left">
                <div class="header-left">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @await Component.InvokeAsync("UserOrder")

                        <a asp-action="Dashboard" asp-controller="Home" asp-area="UserPanel">
                            <div class="btn-login">
                                <span class="mdi mdi-account"></span>
                                پروفایل من
                                <div class="dropdown-menu-login">
                                    @await Component.InvokeAsync("LoginInformationUser")
                                    <div class="header-profile-dropdown-actions">
                                        <div class="header-profile-dropdown-action-container">
                                            <a asp-controller="Order" asp-area="UserPanel" asp-action="FilterOrder">
                                                <span class="header-profile-dropdown-action-link">
                                                    سفارشات من
                                                </span>
                                            </a>
                                        </div>
                                        <div class="header-profile-dropdown-action-container">
                                            <a asp-action="Logout" asp-controller="Account">
                                                <span class="header-profile-dropdown-action-link">
                                                    خروج از حساب
                                                    کاربری
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {

                        <div class="btn-login">
                            <a asp-action="Login" asp-controller="Account" class="login-link">ورود</a>/
                            <a asp-action="Register" asp-controller="Account">ثبت نام</a>
                        </div>
                    }
                    <!-- Example single danger button -->
                    <!-- responsive header-->

                    <div class="responsive-header-left">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @await Component.InvokeAsync("UserOrderResponsive")

                            <div class="btn-login-responsive">
                                <span class="mdi mdi-account"></span>


                                <div class="dropdown-menu-login">

                                    @await Component.InvokeAsync("LoginInformationUser")
                                    <div class="header-profile-dropdown-actions">
                                        <div class="header-profile-dropdown-action-container">
                                            <a asp-controller="Order" asp-area="UserPanel" asp-action="FilterOrder">
                                                <span class="header-profile-dropdown-action-link">
                                                    سفارشات من
                                                </span>
                                            </a>
                                        </div>
                                        <div class="header-profile-dropdown-action-container">
                                            <a asp-action="Logout" asp-controller="Account">
                                                <span class="header-profile-dropdown-action-link">
                                                    خروج از حساب
                                                    کاربری
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="btn-login-responsive">
                                <span class="mdi mdi-account"></span>
                                <span class="cart-count">3</span>
                                <div class="dropdown-menu-login">

                                    <div class="header-profile-dropdown-actions">
                                        <div class="header-profile-dropdown-action-container">
                                            <a asp-action="Login" asp-controller="Account">
                                                <span class="header-profile-dropdown-action-link">ورود</span>
                                            </a>
                                        </div>
                                        <div class="header-profile-dropdown-action-container">
                                            <a asp-action="Register" asp-controller="Account">
                                                <span class="header-profile-dropdown-action-link">
                                                    ثبت نام
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <button class="question-faq"><span class="fa fa-question-circle-o"></span></button>
                    </div>
                    <!-- responsive header-->
                </div>
            </div>
        </div>

    <!-- Start megamenu-->
     
            <nav class="main-menu">
                <ul class="new-list-menu">
                    <li class="item-list-menu megamenu-1 category nav-overlay">
                        <a href="#"
                           class="list-category first after" style="font-weight: bold;">
                            <i class="mdi mdi-menu"></i>
                            دسته بندی کالاها
                        </a>

                        @if (categories != null && categories.Any())
                        {

                            <ul class="list-menu-level-2">
                                @foreach (var category in categories.Where(p => p.ParentId == null))
                                {

                                    <li class="item-menu-2">
                                        <a href="#" class="list-category-menu-2">
                                            <i class="mdi mdi-monitor"></i>@category.Title
                                        </a>
                                        @if (categories.Any(p => p.ParentId == category.ProductCategoryId))
                                        {
                                            <ul class="megamenu-level-3 row">
                                                <li class="list-category">
                                                    <a href="#" class="list-category-megamenu">همه دسته بندی های کالای @category.Title</a>
                                                </li>
                                                @foreach (var subCategory in categories.Where(p => p.ParentId == category.ProductCategoryId))
                                                {


                                                    <li class="item-megamenu-title">
                                                        <a href="#"
                                                           class="list-category-megamenu-3">
                                                            <span>
                                                                @subCategory.Title<i class="fa fa-angle-left"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    @if (categories.Any(p => p.ParentId == category.ProductCategoryId))
                                                    {
                                                        @foreach (var subSubCategory in categories.Where(p => p.ParentId == subCategory.ProductCategoryId))
                                                        {

                                                            <li class="item-megamenu-item">
                                                                <a href="/ProductSearch?CategoryId=@subSubCategory.ProductCategoryId" class="list-category-megamenu-3">
                                                                    @subSubCategory.Title
                                                                </a>
                                                            </li>
                                                        }
                                                    }


                                                }
                                            </ul>
                                        }
                                    </li>

                                }
                            </ul>


                        }

                    </li>

                    <li class="item-list-menu megamenu-1">
                        <a asp-controller="Product" asp-action="ProductSearch" asp-area="" class="list-category first after">
                            <i class="mdi mdi-basket text-success"></i>
                            محصولات
                        </a>
                    </li>

                    <li class="item-list-menu megamenu-1">
                        <a asp-controller="Home" asp-action="ContactUs" asp-area="" class="list-category first after">
                            <i class="mdi mdi-contacts"></i>
                            تماس با ما
                        </a>
                    </li>
                    <li class="item-list-menu megamenu-1">
                        <a asp-controller="Home" asp-action="AboutUs" asp-area="" class="list-category first after">
                            درباره ما
                        </a>
                    </li>
                </ul>
            </nav>
    
    </div>
        <!--        End megamenu------------------->
        <!--    responsive-megamenu-mobile----------------->
        <nav class="sidebar">
            <div class="nav-header">
                <div class="header-cover"></div>
                <div class="logo-wrap">
                    <a class="logo-icon" href="#"><img alt="logo-icon" src="/assets/images/logo.png" width="40"></a>
                </div>
            </div>
            @if (categories != null && categories.Any())
            {
                <ul class="nav-categories ul-base">
                    @foreach (var category in categories.Where(p => p.ParentId == null))
                    {

                        <li class="has-sub">
                            <a href="#">@category.Title</a>
                            @if (categories.Any(p => p.ParentId == category.ProductCategoryId))
                            {
                                @foreach (var subCategory in categories.Where(p => p.ParentId == category.ProductCategoryId))
                                {
                                    <ul>
                                        <li class="has-sub">
                                            <a href="#" class="category-level-2">@subCategory.Title</a>
                                            @if (categories.Any(p => p.ParentId == category.ProductCategoryId))
                                            {
                                                <ul>
                                                    @foreach (var subSubCategory in categories.Where(p => p.ParentId == subCategory.ProductCategoryId))
                                                    {
                                                        <li><a href="/ProductSearch?CategoryId=@subSubCategory.ProductCategoryId" class="category-level-3">@subSubCategory.Title</a></li>

                                                    }
                                                </ul>
                                            }

                                        </li>
                                    </ul>
                                }
                            }
                        </li>
                    }
                </ul>
            }

        </nav>
        <div class="nav-btn">
            <span class="linee1"></span>
            <span class="linee2"></span>
            <span class="linee3"></span>
        </div>
        <div class="overlay"></div>
        <!--    responsive-megamenu-mobile----------------->
    </header>
