@using DigiStore.Application.Extensions
@using DigiStore.Application.Utils
@using DigiStore.Domain.Entities;
@model DigiStore.Domain.ViewModels.Order.FilterOrderViewModel
@{
    ViewData["Title"] = "پروفایل" + "\t" + User.Identity.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var recommendedproductsForUser = ViewBag.RecommendedproductsForUser as List<Product>;
    byte rowCounter = 1;
}


@await Component.InvokeAsync("UserSidebar")


<div class="col-lg-9 col-md-8 col-xs-12 pull-right">

    @await Component.InvokeAsync("UserInformation")

    <div class="headline-profile order-end" style="margin-top:0;">
        <span>آخرین سفارش ها</span>
    </div>
    <div class="profile-stats profile-table">
        <div class="table-orders">
            @if (Model.SalesOrderHeaders != null && Model.SalesOrderHeaders.Any())
            {
                
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">شماره سفارش</th>
                            <th scope="col">تاریخ ثبت سفارش</th>
                            <th scope="col">مبلغ پرداخت شده</th>
                            <th scope="col">وضعیت</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SalesOrderHeaders.Take(8))
                        {
                            <tr>
                                <td>@rowCounter</td>
                                <td class="order-code">@item.TracingCode</td>
                                <td>@item.CreateDate.ToStringShamsiDate()</td>
                                <td>@(item.OrderSum.ToString("#,0")) تومان</td>
                                <td class="text-success">پرداخت شده</td>
                            </tr>
                            rowCounter++;
                        }
                    </tbody>
                </table>
            }
            else
            {
                <partial name="_NotFoundItem"/>
            }
            <a asp-controller="Order" asp-area="UserPanel" asp-action="FilterOrder" class="table-orders-show-more">مشاهده لیست سفارش‌ها</a>
        </div>
    </div>
</div>

@if (recommendedproductsForUser != null && recommendedproductsForUser.Any())
{
    <div class="col-lg-12 col-md-12 col-xs-12 pull-right mt-2">
        <div class="row">
            <div class="col-12">
                <div class="widget widget-product card">
                    <header class="card-header">
                        <h1 class="title-one">محصولات پیشنهادی برای  @User.Identity.Name</h1>
                    </header>
                    <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                 style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                @foreach (var RecommendedproductsForUser in recommendedproductsForUser)
                                {
                                    <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                        <div class="item">
                                            <a asp-action="ProductDetail" asp-controller="Product" asp-route-productId="@RecommendedproductsForUser.ProductId" asp-route-title="@RecommendedproductsForUser.Name.FixTextForUrl()">
                                                <img src="@(PathExtension.ProductImageOrigin+RecommendedproductsForUser.ImageName)" class="img-fluid"
                                                     alt="img-slider">
                                            </a>
                                            <h2 class="post-title">
                                                <a href="#">
                                                    @RecommendedproductsForUser.Name
                                                </a>
                                            </h2>
                                            <div class="price">
                                                <ins><span>@RecommendedproductsForUser.Price.ToString("#,0")<span>تومان</span></span></ins>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="adplacement pull-right">
    <div class="col-6 col-lg-3 pull-right" style="padding-left:0;">
        <a href="#" class="item-adplacement">
            <img src="/assets/images/post-adplacement/1000012860.jpg" title="صوتی و تصویری" alt="adplacement">
        </a>
    </div>

    <div class="col-6 col-lg-3 pull-right">
        <a href="#" class="item-adplacement">
            <img src="/assets/images/post-adplacement/1000012872.jpg" title="شوینده ظروف" alt="adplacement">
        </a>
    </div>

    <div class="col-6 col-lg-3 pull-right" style="padding-left:0;">
        <a href="#" class="item-adplacement">
            <img src="/assets/images/post-adplacement/1000013192.jpg" title="افس" alt="adplacement">
        </a>
    </div>

    <div class="col-6 col-lg-3 pull-right">
        <a href="#" class="item-adplacement">
            <img src="/assets/images/post-adplacement/1000012909.jpg" title="مراقبت پوست و مو" alt="adplacement">
        </a>
    </div>
</div>

