@using DigiStore.Application.Extensions
@model DigiStore.Domain.ViewModels.ProductVisited.FilterProductVisitedViewModel
@{
    ViewData["Title"] = " بازید های اخیر" + User.Identity.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@await Component.InvokeAsync("UserSidebar")

<div class="col-lg-9 col-md-8 col-xs-12 pull-right">

    <div class="col-lg-12 col-xs-12 pull-right">
        <div class="headline-profile">
            <span>بازدیدهای اخیر</span>
        </div>
        @if (Model.ProductVisiteds != null && Model.ProductVisiteds.Any())
        {
            <form asp-action="LastProductVisited" asp-controller="Product" asp-area="UserPanel" id="filter-form" method="get">
                <input type="hidden" asp-for="PageId" />
                <div class="profile-user-history">
                    <ul>
                        @foreach (var userhistory in Model.ProductVisiteds)
                        {
                        <li>
                            <div class="user-history-list-item">
                                <a asp-action="ProductDetail" asp-controller="Product" asp-route-productId="@userhistory.Product.ProductId" asp-route-title="@userhistory.Product.Name.FixTextForUrl()" class="promotion-box-image"><img src="@(PathExtension.ProductImageThumb + userhistory.Product.ImageName)" alt="profile"></a>
                            </div>

                            <div class="user-history-list-item-content">
                                <a asp-action="ProductDetail" asp-controller="Product" asp-route-productId="@userhistory.Product.ProductId" asp-route-title="@userhistory.Product.Name.FixTextForUrl()" class="promotion-box-image"> @userhistory.Product.Name ...</a>
                                <div class="stars">
                                    <span class="star-item"><i class="fa fa-star active"></i></span>
                                    <span class="star-item"><i class="fa fa-star active"></i></span>
                                    <span class="star-item"><i class="fa fa-star active"></i></span>
                                    <span class="star-item"><i class="fa fa-star active"></i></span>
                                    <span class="star-item"><i class="fa fa-star active"></i></span>
                                </div>

                                <div class="user-history-list-item-content-container">
                                    <div class="new-price">
                                        <span class="new-price-value">@(userhistory.Product.Price.ToString("#,0"))</span>
                                        <span class="new-price-currency">تومان</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        }

                    </ul>
                </div>
                <partial name="_PagingPartial" model="@Model.GetCurrentPaging()" />
            </form>
        }
        else
        {
            <partial name="_NotFoundItem"/>
        }
    </div>

</div>