@using DigiStore.Application.Extensions
@using DigiStore.Domain.Enums.Store
@using DigiStore.Domain.ViewModels.Common
@using DigiStore.Domain.ViewModels.Seller
@model DigiStore.Domain.ViewModels.Seller.FilterSellerViewModel
@{
    ViewData["Title"] = "درخواست های پنل فروشگاهی";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

    <div class="col-sm-3">
        <div class="panel panel-color panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">فیلتر</h3>
            </div>
            <div class="panel-body">
                <form asp-controller="Seller" asp-action="SellerRequests" asp-area="Admin" method="get" id="filter-form" class="form-horizontal" role="form">
                    <input type="hidden" asp-for="PageId" />
                    <label class="control-label">نام فروشگاه</label>
                    <div class="form-group">
                        <input type="text" asp-for="StoreName" class="form-control" placeholder="بر اساس نام">
                    </div>
                    <label class="control-label">ایمیل فروشگاه</label>
                    <div class="form-group">
                        <input type="text" asp-for="Email" class="form-control" placeholder="بر اساس ایمیل">
                    </div>
                    <label class="control-label">شماره تماس فروشگاه</label>
                    <div class="form-group">
                        <input type="text" asp-for="Phone" class="form-control" placeholder="بر اساس شماره تماس">
                    </div>
                    <label class="control-label">موبایل فروشگاه</label>
                    <div class="form-group">
                        <input type="text" asp-for="Mobile" class="form-control" placeholder="بر اساس موبایل">
                    </div>
                    <label class="control-label">آدرس فروشگاه</label>
                    <div class="form-group">
                        <input type="text" asp-for="Address" class="form-control" placeholder="بر اساس آدرس">
                    </div>
                    <label class="control-label">تعداد نمایش</label>
                    <div class="form-group">
                        <select asp-for="TakeEntity" class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="control-group">
                        @foreach (var item in Html.GetEnumSelectList<FilterSellerState>())
                        {

                            <div class="form-check">
                                <label class="form-check-label">
                                    @if (Convert.ToByte(item.Value) == Convert.ToByte(Model.State))
                                    {

                                        <input class="form-check-input" type="radio" value="@item.Value" name="@nameof(Model.State)" checked="checked" />

                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="radio" value="@item.Value" name="@nameof(Model.State)" />

                                    }

                                    <span class="text">@item.Text</span>
                                </label>
                            </div>

                        }


                    </div>
                    <div class="form-control">
                        <button type="submit" class="btn btn-block btn-xs btn-purple waves-effect waves-light">فیلتر</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card-box table-responsive">
            <h4 class="header-title m-t-0 m-b-30">درخواست های فروشندگی</h4>

            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-12">
                        @if (Model.Sellers != null && Model.Sellers.Any())
                        {


                            <table class="table table-hover">

                                <thead>
                                    <tr>

                                        <th>آيکون</th>
                                        <th>نام فروشگاه</th>
                                        <th>ایمیل</th>
                                        <th>تلفن تماس</th>
                                        <th>مدارک</th>
                                        <th>وضعیت</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Sellers)
                                    {
                                        <tr id="ajax-url-item-@item.SellerId">
                                            <td><img src="@(!string.IsNullOrEmpty(item.Logo)?PathExtension.UploadLogoThumb+item.Logo:PathExtension.DefaultStoreLogo)" class="img-fluid img-thumbnail" alt="در حال بارگذاری" /></td>
                                            <td>@item.StoreName</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <th><a href="/Files/Store/SellerDocument/@item.StoreDoucument">مدارک</a></th>
                                            @{
                                                StoreAcceptanceState storeAcceptanceState = (StoreAcceptanceState)item.StoreaceptanceState;
                                                <td>@storeAcceptanceState.GetDisplayName()</td>
                                            }
                                            @if (item.StoreaceptanceState != (byte)StoreAcceptanceState.Accepted)
                                            {
                                                <td>
                                                    <a ajax-url-button="@item.SellerId" class="btn btn-success btn-sm" asp-action="AcceptSellerRequest" asp-controller="Seller" asp-area="Admin" asp-route-id="@item.SellerId">تایید فروشگاه</a>

                                                </td>
                                            }
                                            @if (item.StoreaceptanceState != (byte)StoreAcceptanceState.Rejected)
                                            {
                                                <td>
                                                    <a class="btn btn-danger waves-effect waves-light" data-toggle="modal" data-target=".reject-modal-@item.SellerId">عدم تایید فروشگاه</a>
                                                </td>
                                            }
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <partial name="_NotFoundItem" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <partial name="_AdminPagingPartial" model="@Model.GetCurrentPaging()" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->


    </div>
</div>

@if (Model.Sellers != null && Model.Sellers.Any())
{
    @foreach (var item in Model.Sellers)
    {
        <div id="myModal" class="modal fade reject-modal-@item.SellerId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">عدم تایید فروشگاه</h4>
                    </div>
                    <div class="modal-body">
                        <h3>@item.StoreName</h3>
                        <form asp-controller="Seller" asp-action="RejectSellerRequest" asp-area="Admin"
                              asp-antiforgery="true"
                              data-ajax="true" data-method="post" data-ajax-success="OnSuccessRejectItem">
                            <partial name="_RejectItemPartial" model="@(new RejectItemViewModel(){Id = item.SellerId})" />
                            <button class="btn btn-danger" type="submit">عدم تایید</button>
                        </form>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

    }
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
   

}