@using DigiStore.Application.Extensions
@using DigiStore.Domain.Enums.Store
@using DigiStore.Domain.ViewModels.Seller
@model DigiStore.Domain.ViewModels.Seller.FilterSellerViewModel
@{
    ViewData["Title"] = "در خواست های پنل فروشندگی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync("UserSidebar")
<div class="col-lg-9 col-md-8 col-xs-12 pull-left">
    <div class="headline-profile page-profile-order">
        <span>لیست درخواست های پنل فروشندگی</span>
    </div>
    <div class="profile-stats page-profile-order">
        <div class="panel panel-default">
            <div class="panel-body">
                <form style="padding: 20px;" asp-controller="Seller" asp-action="SellerRequests" id="filter-form" asp-area="UserPanel" method="get">
                    <input type="hidden" asp-for="PageId"/>
                    <div class="form-group">
                        <label>شماره تماس</label>
                        <input type="text" asp-for="Phone" class="form-control"/>
                        <label>ایمیل</label>
                        <input type="text" asp-for="Email" class="form-control"/>
                        <label>آدرس</label>
                        <input type="text" asp-for="Address" class="form-control"/>
                        <label>موبایل</label>
                        <input type="text" asp-for="Mobile" class="form-control"/>
                        @foreach (var item in Html.GetEnumSelectList<FilterSellerState>())
                            {

                                <div class="form-check">
                                    <label class="form-check-label" >
                                        @if (Convert.ToByte(item.Value) == Convert.ToByte(Model.State))
                                        {

                                            <input   type="radio" value="@item.Value" name="@nameof(Model.State)" checked="checked" />

                                        }
                                        else
                                        {
                                            <input type="radio" value="@item.Value" name="@nameof(Model.State)" />

                                        }

                                        <span class="text">@item.Text</span>
                                    </label>
                                </div>

                            }
                        <div class="form-control">
                            <button type="submit" class="btn btn-block btn-xs btn-purple waves-effect waves-light">فیلتر</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-orders">
            @if (Model.Sellers != null && Model.Sellers.Any())
            {
                <table class="table">
                    <thead class="thead-light">
                    <tr>

                        <th>آيکون</th>
                        <th>نام فروشگاه</th>
                        <th>ایمیل</th>
                        <th>تلفن تماس</th>
                        <th>وضعیت</th>
                        <th>عملیات</th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var item in Model.Sellers)
                    {
                        <tr>

                            <td><img src="@(!string.IsNullOrEmpty(item.Logo) ? PathExtension.UploadLogoThumb + item.Logo : PathExtension.DefaultStoreLogo)" class="img-fluid img-thumbnail" alt="در حال بارگذاری"/></td>
                            <td>@item.StoreName</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            @{
                                StoreAcceptanceState storeAcceptanceState = (StoreAcceptanceState) item.StoreaceptanceState;
                                <td>@storeAcceptanceState.GetDisplayName()</td>
                            }
                            <td><a asp-controller="Seller" asp-action="EditSellerRequest" asp-area="UserPanel" asp-route-id="@item.SellerId">ویرایش </a></td>

                        </tr>

                    }
                    </tbody>

                </table>
                <div class="pager">
                    <ul class="page-item">
                        @if (Model.StartPage < Model.PageId)
                        {
                            <li class="btn"><a href="/UserPanel/seller-requests?pageid=@(Model.PageId - 1)">«</a></li>
                        }

                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                        {
                            <li class="pagination-item" onclick="FillPageId(@i)"><a href="/UserPanel/seller-requests?pageid=@i" onclick="FillPageId(@i)" style="cursor: pointer" class="@(Model.PageId == i ? "pager-item-active" : " ")">@i</a></li>
                        }
                        @if (Model.EndPage > Model.PageId)
                        {
                            <li class="btn"><a class="btn" href="/UserPanel/seller-requests?pageid=@(Model.PageId + 1)">»</a></li>
                        }
                    </ul>
                </div>
             
            }
            else
            {
                <partial name="_NotFoundItem"/>
            }
        </div>
    </div>


</div>



