@using DigiStore.Application.Extensions
@using DigiStore.Domain.Enums.Product
@using DigiStore.Domain.ViewModels.Common
@using DigiStore.Domain.ViewModels.Product
@model DigiStore.Domain.ViewModels.Product.FilterProductViewModel
@{
    ViewData["Title"] = "لیست محصولات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

    <div class="col-sm-3">
        <div class="panel panel-color panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">فیلتر</h3>
            </div>
            <div class="panel-body">
                <form asp-controller="Product" asp-action="Index" asp-area="Admin" method="get" id="filter-form" class="form-horizontal" role="form">
                    <input type="hidden" asp-for="PageId" />
                    <label class="control-label">نام محصول</label>
                    <div class="form-group">
                        <input type="text" asp-for="Name" class="form-control" placeholder="بر اساس نام">
                    </div>
                    <div class="control-group">
                        @foreach (var item in Html.GetEnumSelectList<FilterProductState>())
                        {

                            <div class="form-check">
                                <label class="form-check-label">
                                    @if (Convert.ToByte(item.Value) == Convert.ToByte(Model.FilterProductState))
                                    {

                                        <input class="form-check-input" type="radio" value="@item.Value" name="@nameof(Model.FilterProductState)" checked="checked" />

                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="radio" value="@item.Value" name="@nameof(Model.FilterProductState)" />

                                    }

                                    <span class="text">@item.Text</span>
                                </label>
                            </div>

                        }


                    </div>
                    <div class="form-control">
                        <button type="submit" class="btn btn-block btn-xs btn-purple waves-effect waves-light">فیلتر</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card-box table-responsive">
            <h4 class="header-title m-t-0 m-b-30">لیست محصولات</h4>

            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-12">
                        @if (Model.Products != null && Model.Products.Any())
                        {


                            <table class="table table-hover">

                                <thead>

                                    <tr>

                                        <th>تصویر محصول  </th>
                                        <th>نام محصول</th>
                                        <th>وضعیت</th>
                                        <th>عملیات</th>
                                    </tr>

                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Products)
                                    {
                                        <tr id="ajax-url-item-@item.ProductId">
                                            <td><img src="@(!string.IsNullOrEmpty(item.ImageName)?PathExtension.ProductImageThumb+item.ImageName:PathExtension.DefaultStoreLogo)" class="img-fluid img-thumbnail" alt="در حال بارگذاری" /></td>
                                            <td>@item.Name</td>
                                            @if (item.ProductAcceptanceState != null)
                                            {

                                                ProductAcceptanceState acceptanceState = (ProductAcceptanceState)item.ProductAcceptanceState.Value;
                                                <td>@acceptanceState.GetDisplayName()</td>
                                            }
                                        <td>
                                            <a asp-controller="Product" asp-action="ProductDetilas" asp-area="Admin" asp-route-productId="@item.ProductId" class="btn btn-info btn-sm">جزئیات محصول</a>

                                            @if (item.ProductAcceptanceState != (byte)ProductAcceptanceState.Accepted)
                                            {

                                                <a ajax-url-button="@item.ProductId" asp-controller="Product" asp-action="AcceptSellerProduct" asp-area="Admin" asp-route-id="@item.ProductId" class="btn btn-success btn-sm">تایید محصول</a>

                                            }
                                            @if (item.ProductAcceptanceState != (byte)ProductAcceptanceState.Rejected)
                                            {

                                                <a class="btn btn-danger waves-effect waves-light" onclick="RejectProduct(@item.ProductId)">عدم تایید محصول</a>
                                            }
                                            <a href="/Product/product-comment/@item.ProductId" class="btn btn-warning btn-sm">نظرات محصول</a>

                                        </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <partial name="_NotFoundItem" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <partial name="_AdminPagingPartial" model="@Model.GetCurrentPaging()" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->


    </div>
</div>



<div id="modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">عدم تایید محصول</h4>
            </div>
            <div id="modalbody" class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


@section Scripts
{
    <script>
        function RejectProduct(id) {
            $.ajax({
                url: "/Product/RejectSellerProduct/" + id,
                type: "Get"
            }).done(function (result) {
                $("#modal").modal('show');
                $("#modalbody").html(result);
            });
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}